.main{
	display: flex;
	flex-wrap:wrap;
	width:70%;
	margin:0 auto;
	padding-left:40px;
	

}
.content-wapper{
	flex: 0 0 15%;
	max-width: 15%;
	background-image:url('../pic/balack.png');
	border:1px solid;
	
}
.click-wapper{
	flex: 0 0 64%;
	max-width: 64%;
	background-image:url('../pic/black.png');
	background-repeat: no-repeat;
	border:1px solid;
}
.pic-wapper{
	flex: 0 0 21%;
	max-width: 21%;
	border:1px solid;	
	
}
.main:before,
.main:after{
	display: block;
	clear: both;
	content:'';
}
.image{
	height: 130px;
	width: 190px;
}
.content ol{
	padding: 0px;
}
.content ol li{
	list-style:none;
}
.confirm {
	height:52px;
	padding-top:15px;
	padding-left:65px;
	
}
.confirm input{
	font-size:13pt;
}
.content ol li{
	padding: 5px 0;
}
.content ol li label{
	cursor: pointer;
}
